
body{
  background-color: black;
}

.test1{
  position: absolute;
  width:500px;
  height:500px;
  border-radius: 50%;
  left:200px;
  top:200px;
  background-color: rgb(255, 238, 125);
  box-shadow: 0px 0px 30px rgb(255, 238, 125);
  
  box-shadow: 0px 0px 80px rgb(255, 238, 125);

}

@keyframes moveleft {

0%   {left:100px; top:200px;transform:scale(1);}
25%  {left:200px; top:200px; transform: scale(1.2);}
50%  {left:200px; top:300px;transform: scale(1.5);}
75%  { left:100px; top:300px;transform: scale(1.2);}
100% {left:100px; top:200px;transform:scale(1);}

}



@keyframes float2 {
  0%{
    transform: scale(1);
  }
/*
  25%{
    transform: scale(1.1);
  } */
  50%{
    transform: scale(1.2);
  }
  /* 75%{
    transform: scale(1.1);
  } */
  100%{
    transform: scale(1);
  }

}

@keyframes floatMove{
  0%{
    transform:scale(1);
    top:550px;
  }
  50%{
    transform:scale(1.1);
    top:600px;
  }

  100%{
    transform:scale(1);
    top:550px;
  }
}


.cloud{
  position: absolute;

  left:550px;
  top:550px;
  animation-name: floatMove;
  animation-duration:3s;
  animation-iteration-count:infinite;

}

.cloud2{
  position: absolute;

  left:1080px;
  top:255px;
  animation-name: float2;
  animation-duration:4.5s;
  animation-iteration-count:infinite;

}

.cloud3{
  position: absolute;

  left:1200px;
  top:230px;
  animation-name: float2;
  animation-duration:3s;
  animation-iteration-count:infinite;

}
@keyframes floatMove2{
  0%{
    transform:scale(1);
    top:550px;
    left:730px;
  }
  50%{
    transform:scale(1.1);
    top:580px;
    left:820px;
  }

  100%{
    transform:scale(1);
    top:550px;
    left:730px;
  }
}

.cloud4{
  position: absolute;

  left:730px;
  top:550px;

  animation-name: floatMove2;
  animation-duration:3s;
  animation-iteration-count:infinite;

}


.house{
  position: absolute;
  width:200px;
  height:240px;
  left:1100px;
  top:30px;
}
.tree{
  position: absolute;
  width:600px;
  height:530px;
  left:-60px;
  top:140px;
}
@keyframes personMove{
  0%{
    top:100px;
  }
  50%{
    top:60px;

  }
  100%{
    top:100px;
  }
}
.person{
  position:absolute;
  width:300px;
  height: 540px;
  left:600px;
  top:100px;
  animation-name: personMove;
  animation-duration:3s;
  animation-iteration-count:infinite;

}
@keyframes RarmRotate {
  0%{
    top:230px;
    transform: rotate(0deg);

  }
/*
  25%{
    transform: scale(1.1);
  } */
  50%{
    top:190px;
    transform:rotate(30deg) ;

  }
  /* 75%{
    transform: scale(1.1);
  } */
  100%{
    top:230px;
    transform: rotate(0deg);

  }

}

.arm{
  position:absolute;
  transform-origin: top left;
  width:165px;
  height:80px;
  left:755px;
  top:230px;
  animation-name: RarmRotate;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
@keyframes LarmRotate {
  0%{
    top:245px;
    transform: rotate(25deg);

  }
/*
  25%{
    transform: scale(1.1);
  } */
  50%{
    top:215px;
    transform:rotate(0deg) ;

  }
  /* 75%{
    transform: scale(1.1);
  } */
  100%{
    top:245px;
    transform: rotate(25deg);

  }

}
.Larm{
  position:absolute;
  transform-origin: top right;

  left:635px;
  top:210px;
  animation-name: LarmRotate;
  animation-duration:3s;
  animation-iteration-count:infinite;
}

.r1{
  position: absolute;
  left:130px;
  top:580px;
}

@keyframes rabbit{
  0%{
    transform:rotate(-10deg);
  }

  50%{
    transform:rotate(20deg);
  }
  100%{
    transform:rotate(-10deg);
  }
}
.r2{
  position: absolute;

  left:192px;
  top:530px;
  transform-origin: left center;
  animation-name: rabbit;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

.bottle{
  position:absolute;
  left:220px;
  top:670px;
}
@keyframes head{
  0%{
    transform:rotate(-5deg);
  }

  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-5deg);
  }
}

.r3{
  position:absolute;
  left:145px;
  top:492px;
  transform-origin: right bottom;
  animation-name: head;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
