body {
  text-align: center;
  margin: 10px;
}

canvas {
  margin: 20px auto;
  background-color: blue;
}

button {


  padding: 10px;
  font-weight: 300;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;

}
