html{
  min-height: 100%;
}

img{
  width:30%;
  left:400px;
  top:0px;
  transform:rotate(0deg);
  transition: all 4s;
  position: relative;

}


p{
  height:400px;

  position:relative;
  padding-top: 30px;
  padding-left: 130px;
  padding-right: 130px;

  font-size: 22px;
  font-family:  fantasy;

  font-weight: normal;
  color:white;







}
span{
  display:inline-block;
  transition: all 1s;
}
body{

  background: #B993D6;  /* fallback for old browsers */

  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
