html{
  min-height: 100%;
}

img{
  width:25%;
  display: block;
  top:30px;
  transform:rotate(0deg);
  transition: all 5s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}



p{
  height:400px;

  position:relative;
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 120px;

  font-size: 25px;
  font-family: monospace;

  font-weight: normal;
  color:black;


}
span{
  display:inline-block;
  transition: all 2s;
  letter-spacing: -10px;
}
body{


  background-color: white;



}
