span{
  position:relative;
  transform: scale(-1,1);
}

p{
  text-align: center;
  font-size: 150%;
  color: black;
  font-weight: bold;
  font-family: fantasy;

  //transform: scale(-1,1);
}

body{
  background-color: white;
}
