

/*
h1{
  text-align: center;
  top:150px;
  position: relative;
  color: white;
  font-size: 300%;
  text-shadow: 0px 0px 2px white, 0 0 25px #df3912, 0 0 15px #df3912,0 0 10px #df3912;

}
h2{
  text-align: center;
  top:300px;
  position:relative;
  color:white;
  font-size: 250%;
  text-shadow: 0px 0px 2px white, 0 0 25px #df3912, 0 0 15px #df3912,0 0 10px #df3912;

}
*/
body{
  background-color: #031621;
}
.container{
  position:relative;
  text-align: center;
  left:0px;

}

.text1{
  position: absolute;
  text-align: left;
  color:white;
  font-size: 8vh;
  left:5vw;
  top:25vh;
  text-shadow: 0px 0px 2px white, 0 0 25px #df3912, 0 0 15px #df3912,0 0 10px #df3912;
}

.text2{
  position: absolute;
  text-align: left;
  color:white;
  font-size: 5vh;
  left:5vw;
  top:57vh;
  text-shadow: 0px 0px 2px white, 0 0 25px #df3912, 0 0 15px #df3912,0 0 10px #df3912;
}
.circle1{
  position: absolute;
  width:75vh;
  top:10vh;
  left:42vw;
}

.test{
  transform-origin:  center;

}
.circle2{
  position: absolute;
  
  width:30vh;
  top:28vh;
  left:54.5vw;
}
.snake01{
  transition: transform 1.3s;
  position:absolute;
  width: 15vh;
  top:37vh;
  left:38vw;

}

.snake02{
  transition: transform 1.3s;

  position:absolute;
  width:15vh;
  top:37vh;
  left:79vw;
}

.snake03{
  transition:transform 1.3s;

  position:absolute;
  width:15vh;
  top:14vh;
  left:43vw;
}

.snake04{
  transition:transform 1.3s;

  position:absolute;
  width:15vh;
  top:17vh;
  left:74.5vw;
}

.snake05{
  transition:transform 1.3s;

  position:absolute;
  width:15vh;
  top:3vh;
  left:54vw;
}

.snake06{
  transition:transform 1s;

  position:absolute;
  width:15vh;
  top:3vh;
  left:66vw;
}

.snake07{
  transition:transform 1.3s;

  position:absolute;
  width:15vh;
  top:61vh;
  left:41vw;
}

.snake08{
  transition:transform 1s;

  position:absolute;
  width:15vh;
  top:58vh;
  left:76.5vw;
}

.snake09{
  transition:transform 1.3s;

  position:absolute;
  width:15vh;
  top:75vh;
  left:53vw;
}

.snake10{
  transition:transform 1s;

  position:absolute;
  width:15vh;
  top:74vh;
  left:66vw;
}
