@font-face {
  font-family: firstFont;
  src:url(joystix.ttf);
}
body{
  background-color: #031621;
}
.container{
  position:relative;
  text-align: center;
  left:0px;

}

.bigContainer{
  position: relative;
}

.text1{

  font-family: firstFont;
  position: relative;
  text-align: left;
  color:white;
  font-size: 50px;
  left:50px;
  top:100px;
  text-shadow: 0px 0px 2px white, 0 0 25px 	#fc0fe0, 0 0 15px #fc0fe0,0 0 10px 	#fc0fe0;
}

.text2{
  font-family: firstFont;
  line-height: 1.5;
  position: relative;
  text-align: left;
  color:white;
  font-size: 35px;
  left:50px;
  top:135px;
  text-shadow: 0px 0px 2px white, 0 0 25px 	#fc0fe0, 0 0 15px #fc0fe0,0 0 10px 	#fc0fe0;

}
.text3{
  font-family: firstFont;
  line-height: 1.5;
  position: relative;
  text-align: left;
  color:white;
  font-size: 35px;
  left:50px;
  top:120px;
  text-shadow: 0px 0px 2px white, 0 0 25px 	#0dffff, 0 0 15px #0dffff,0 0 10px 	#0dffff;

}

.title{

  font-family: firstFont;
  position: absolrelativeute;
  text-align: left;
  color:white;
  font-size: 60px;
  left:49vw;
  top:42vh;
  text-shadow: 0px 0px 2px white, 0 0 25px 	#0dffff, 0 0 15px #0dffff,0 0 10px 	#0dffff;
  visibility: hidden;
}


.circle1{
  position: relative;
  width:570px;
  top:50px;
  left:50px;
}

.test{
  transform-origin:  center;

}
.circle2{
  position: relative;
transition: transform 1.3s;
  width:250px;
  top:-360px;
  left:215px;
}
.snake01{
  transition: transform 1.3s;
  position:relative;
  width: 120px;
  top:-430px;
  left:-235px;

}

.snake02{
  transition: transform 1.3s;

  position:relative;
  /* transform-origin: top right; */
  width:120px;
  top:-430px;
  left:155px;
}

.snake03{
  transition:transform 1.3s;

  position:relative;
  width:120px;
  top:-710px;
  left:60px;
}

.snake04{
  transition:transform 1.3s;

  position:relative;
  width:120px;
  top:-725px;
  left:360px;
}

.snake05{
  transition:transform 1.3s;

  position:relative;
  width:120px;
  top:-830px;
  left:-70px;
}

.snake06{
  transition:transform 1s;

  position:relative;
  width:120px;
  top:-810px;
  left:-10px;
}

.snake07{
  transition:transform 1.3s;

  position:relative;
  width:130px;
  top:-590px;
  left:55px;
}

.snake08{
  transition:transform 1s;

  position:relative;
  width:120px;
  top:-585px;
  left:360px;
}

.snake09{
  transition:transform 1.3s;

  position:relative;
  width:120px;
  top:-480px;
  left:-80px;
}

.snake10{
  transition:transform 1s;

  position:relative;
  width:120px;
  top:-480px;
  left:-10px;
}

.flex-container {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {

  padding: 5px;
  width: 600px;
  height: 600px;
  margin-top: 0px;

}

.flex-item-2 {

  padding: 5px;
  width: 440px;
  height: 600px;
  margin-top: 0px;

}


.title{

  font-family: firstFont;
  position: relative;
  text-align: left;
  color:white;
  font-size: 50px;
  left:150px;
  top:-820px;
  text-shadow: 0px 0px 2px white, 0 0 25px 	#0dffff, 0 0 15px #0dffff,0 0 10px 	#0dffff;
  visibility: hidden;
}
