h1,h2,h3 {
  color:pink;
}
p{
  color:blue;
  font-size:150%;
}

.g{
  color:rgb(255, 99, 71);
  font-size:200%;
}

h1 mark {
  color:blue;
}

a:link{
  color:pink;
}
a:visited{
  color: red;
}
a:hover{
  font-size:130%;
  text-decoration: none;
}

.withStroke{
  color: rgb(80,100,200);
  font-size:200%;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(80,100,200,100);

  padding:50px;
  border:10px solid rgb(255, 99, 71);
  background-color: pink;
}

body {
  background-color: rgb(255, 251, 207);
}
