h1,h2,h3 {
  color:pink;
}
p{
  color:blue;
  font-size:150%;
}

.g{
  color:rgb(255, 99, 71);
  font-size:200%;
}

h1 mark {
  color:blue;
}

a:link{
  color:pink;
}
a:visited{
  color: red;
}
a:hover{
  font-size:130%;
  text-decoration: none;
}
